{#
input parameters:
- data_id: purpose data ID (binary)
- payment: API payment struct
  should have an idEncoded field as well (base32)
  optional property expiryDate
  optional property paymentMethod.intermediaries (list of { country_rendered, codeholder_rendered, desc_rendered })
- aksopay_intent_base: AKSO Pay intent URL base
#}

{% if payment.type != 'intermediary' and payment.status != 'canceled' %}
    <div class="akso-pending-payment">
        {% set purpose = null %}
        {% for item in payment.purposes %}
            {% if item.dataId == data_id or item.registrationEntryId == data_id %}
                {% set purpose = item %}
            {% endif %}
        {% endfor %}

        <header class="item-header">
            {% if purpose.invalid %}
                <span class="payment-status" data-status="invalid">
                    {{ akso_locale.registration_form.payment_item_status_invalid }}
                </span>
            {% else %}
                <span class="payment-status" data-status="{{ payment.status }}">
                    {{ akso_locale.registration_form['payment_item_status_' ~ payment.status] }}
                </span>
            {% endif %}
            ·
            {{ akso_locale.registration_form.payment_item_created }}
            <time class="dyn-timestamp" datetime="{{ payment.timeCreated|date('c') }}">
                {{ payment.timeCreated|akso_datetime }}
            </time>
        </header>

        <div class="purpose-info">
            {% if purpose.triggerAmount and (purpose.triggerAmount.amount != purpose.amount or purpose.triggerAmount.currency != payment.currency) %}
                <div class="info-line">
                    <span class="line-label">{{ akso_locale.registration_form.payment_item_trigger_amount }}</span>
                    <span class="line-value">{{ purpose.triggerAmount.amount|akso_currency(purpose.triggerAmount.currency) }}</span>
                </div>
                <div class="info-line">
                    <span class="line-label">{{ akso_locale.registration_form.payment_item_purpose_amount_with_trigger_amount }}</span>
                    <span class="line-value">{{ purpose.amount|akso_currency(payment.currency) }}</span>
                </div>
            {% else %}
                <div class="info-line">
                    <span class="line-label">{{ akso_locale.registration_form.payment_item_trigger_amount }}</span>
                    <span class="line-value">{{ purpose.amount|akso_currency(payment.currency) }}</span>
                </div>
            {% endif %}
        </div>
        <div class="item-payment-method">
            <div class="info-line">
                <span class="line-label">
                    {{ akso_locale.registration_form.payment_item_method }}
                </span>
                <span class="line-value">
                    <span class="method-type">{{ akso_locale.registration_form['payment_type_' ~ payment.paymentMethod.type] }}</span>
                    {{ payment.paymentMethod.name }}
                </span>
            </div>
            {% if payment.paymentMethod.error %}
                <p>{{ payment.paymentMethod.error }}</p>
            {% endif %}
            {% if payment.paymentMethod.type == 'intermediary' %}
                {% for intermediary in payment.paymentMethod.intermediaries %}
                    <div class="payment-method-intermediary-info" role="group">
                        <div class="payment-desc-title">
                            {{akso_locale.registration.payment_method_intermediary_info_0}}
                            {{intermediary.country_rendered|default('—')}}
                            {{akso_locale.registration.payment_method_intermediary_info_1}}
                        </div>
                        <div class="payment-desc">
                            {{intermediary.desc_rendered|raw|default(akso_locale.registration.payment_method_intermediary_no_desc)}}
                        </div>
                        <ul class="codeholder-card-container codeholder-list">
                            {{intermediary.codeholder_rendered|raw}}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="item-payment-details">
            <div class="info-line">
                <span class="line-label">
                    {{ akso_locale.registration_form.payment_item_total_amount }}
                </span>
                <span class="line-value">
                    {{ payment.totalAmount|akso_currency(payment.currency) }}
                </span>
            </div>
            {% if payment.paymentMethod.type != 'intermediary' %}
                <div class="inner-payment">
                    <a class="inner-intent-button link-button" target="_blank" rel="noopener" href="{{ aksopay_intent_base }}{{ payment.idEncoded }}">
                        {{ akso_locale.registration_form.payment_item_open_intent }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% if payment.paymentMethod.type == 'intermediary' and payment.status == 'pending' %}
            <div class="item-cancel-details">
                {% set cancel_disclosure_id = payment.idEncoded ~ '-cancel-disclosure' %}
                <input class="inner-state-checkbox" type="checkbox" id="{{ cancel_disclosure_id }}" />

                <div class="inner-summary">
                    <label for="{{ cancel_disclosure_id }}">
                        <span role="button" class="link-button" tabindex="0">
                            {{ akso_locale.registration_form.payment_item_cancel_intent }}
                        </span>
                    </label>
                </div>
                <div class="inner-cancel-box">
                    <h4 class="inner-title">{{ akso_locale.registration_form.payment_item_cancel_intent_title }}</h4>
                    <p>{{ akso_locale.registration_form.payment_item_cancel_intent_description }}</p>
                    <div class="inner-buttons">
                        <label for="{{ cancel_disclosure_id }}">
                            <span role="button" class="link-button" tabindex="0">
                                {{ akso_locale.registration_form.payment_item_cancel_intent_back }}
                            </span>
                        </label>
                        <form method="POST">
                            <input type="hidden" name="cancel_intent_id" value="{{ payment.idEncoded }}" />
                            <button type="submit">
                                {{ akso_locale.registration_form.payment_item_cancel_intent_confirm }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="item-pending-description">
            {% if payment.status == 'pending' %}
                {% if payment.paymentMethod.type == 'manual' %}
                    {{ akso_locale.registration_form.payment_item_pending_description_manual }}
                {% elseif payment.paymentMethod.type == 'stripe' %}
                    {{ akso_locale.registration_form.payment_item_pending_description_stripe }}
                {% endif %}
            {% endif %}
        </div>
        {% if payment.status == 'pending' and payment.paymentMethod.type != 'intermediary' and payment.expiryDate is not null %}
            <div class="item-expiration-notice">
                {{ akso_locale.registration_form.payment_item_expires }}
                <time class="dyn-timestamp" datetime="{{ payment.expiryDate|date('c') }}">
                    {{ payment.expiryDate|akso_datetime }}
                </time>
            </div>
        {% endif %}
    </div>
{% endif %}