{% if akso_magazines.type == 'list' %}
    <div class="magazines-access-banner">
        <h3>{{akso_locale.magazines.access_all_banner_title}}</h3>
        <p>
            {{akso_locale.magazines.access_all_banner_body}}
        </p>
        <div class="inner-actions">
            <a class="link-button is-primary" href="{{akso_registration_path}}">
                {{akso_locale.magazines.access_all_banner_subscribe}}
            </a>
        </div>
    </div>
{% else %}
    <div class="magazines-access-banner">
        <h3>{{akso_locale.magazines.access_all_banner_title_single}}</h3>
        <p>
            {{akso_locale.magazines.access_all_banner_body_single}}
        </p>
        <div class="inner-actions">
            <a class="link-button is-primary" href="{{akso_registration_path}}">
                {{akso_locale.magazines.access_all_banner_subscribe}}
            </a>
        </div>
    </div>
{% endif %}
