{% extends 'partials/base.html.twig' %}
{% block content %}
    {{page.content|raw}}
    {% set should_collapse = '' %}
    {% if not akso_clist.view_all %}
        {% set should_collapse = 'init-collapsed' %}
    {% endif %}
    {% set country_selector = {
        should_collapse: should_collapse,
        view: akso_clist.view,
        list_country_codes: akso_clist.list_country_codes,
        list_country_links: akso_clist.list_country_links,
        country_names: akso_clist.country_names,
        country_emoji: akso_clist.country_emoji,
    } %}
    {% include 'partials/akso_country_selector.html.twig' %}
    {% if not akso_clist.view_all %}
        <div class="org-list">
            {% set code = akso_clist.view %}
            <h1 class="country-title">
                <img
                    class="inline-flag-icon"
                    draggable="false"
                    src="{{akso_clist.country_emoji[code].src|e('html_attr')}}"
                    alt="{{akso_clist.country_emoji[code].alt|e('html_attr')}}" />
                {{akso_clist.country_names[code]}}
            </h1>
            <ul class="inner-org-list" aria-label="{{akso_locale.country_org_lists.country_list_label_0}}{{code}}{{akso_locale.country_org_lists.country_list_label_1}}">
                {% for orgId in akso_clist.list_countries[code] %}
                {% set org = akso_clist.orgs[orgId] %}
                <li class="inner-org-card">
                    <div class="org-header">
                        <h4 class="org-name">
                            {% if org.website %}
                            <a
                                class="inner-org-name"
                                target="_blank"
                                rel="noreferrer"
                                href="{{org.website|e('html_attr')}}">{{org.fullName|e}}</a>
                            {% else %}
                            <span class="inner-org-name">{{org.fullName|e}}</span>
                            {% endif %}
                        </h4>
                        {% if org.fullNameLocal %}
                        <h5 class="org-local-name">{{org.fullNameLocal|e}}</h5>
                        {% endif %}
                        <div class="org-descriptor">{{org.mainDescriptor|e}}</div>
                    </div>
                    {% if org.factoids is not empty or org.biography is not empty %}
                    <details class="org-details">
                        <summary>
                            {{akso_locale.country_org_lists.country_item_summary_title}}
                        </summary>
                        <div class="org-post-info">
                            {% set factoids = {
                                factoids: org.factoids|merge(org.data_factoids),
                            } %}
                            {% include 'partials/akso_codeholder_factoids.html.twig' %}
                            <div class="org-biography">
                                {% set is_first = true %}
                                {% for line in org.biography|split('\n') %}
                                    {% if is_first %}
                                        {% set is_first = false %}
                                    {% else %}
                                    <br />
                                    {% endif %}
                                    {{line|e}}
                                {% endfor %}
                            </div>
                        </div>
                    </details>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
