{% extends 'partials/base.html.twig' %}
{% block content %}
    {{page.content}}

    {% if akso_delegates.view_mode == 'country' or akso_delegates.view_mode == 'overview' %}
        {% set should_collapse = '' %}
        {% if akso_delegates.view_mode == 'country' %}
            {% set should_collapse = 'init-collapsed' %}
        {% endif %}
        {% set country_selector = {
            should_collapse: should_collapse,
            view: akso_delegates.view,
            list_country_codes: akso_delegates.list_country_codes,
            list_country_links: akso_delegates.list_country_links,
            country_names: akso_delegates.country_names,
            country_emoji: akso_delegates.country_emoji,
        } %}
        {% include 'partials/akso_country_selector.html.twig' %}
    {% endif %}

    {% macro delegate_item(akso_locale, akso_delegates, delegation) %}
        {% set codeholder = akso_delegates.codeholders[delegation.codeholderId] %}
        <li class="delegate-item" data-has-picture="{{ codeholder.profilePictureHash ? 'true' : 'false' }}">
            {% if codeholder.profilePictureHash %}
            <div class="delegate-picture">
                <img
                    src="{{codeholder.icon_src|e('html_attr')}}"
                    srcset="{{codeholder.icon_srcset|e('html_attr')}}">
            </div>
            {% endif %}
            <h3 class="delegate-name">
                {{codeholder.fmt_name}}
            </h3>
            <ul class="delegate-subjects">
            {% for subjectId in delegation.subjects %}
                {% set subject = akso_delegates.subjects[subjectId] %}
                <li class="subject-item">
                    {{subject.name}}
                    {{subject.description}}
                </li>
            {% endfor %}
            </ul>
            <ul class="delegate-cities">
            {% for city in delegation.cities %}
                <li class="city-item">
                    city {{city}}
                </li>
            {% endfor %}
            </ul>
            {% if delegation.hosting and (delegation.hosting.maxDays or delegation.hosting.maxPersons) %}
                <div class="delegate-hosting-stub">
                    {{akso_locale.delegates.delegate_offers_hosting}}
                </div>
            {% endif %}
        </li>
    {% endmacro %}

    {% if akso_delegates.view_mode == 'country' %}
        {% set code = akso_delegates.view %}
        <h1 class="country-title">
            <img
                class="inline-flag-icon"
                draggable="false"
                src="{{akso_delegates.country_emoji[code].src|e('html_attr')}}"
                alt="{{akso_delegates.country_emoji[code].alt|e('html_attr')}}" />
            {{akso_delegates.country_names[code]}}
        </h1>

        <div>TODO js widget for jumping to letter A-Z</div>
        <ul class="country-levels">
            {% for level, level_delegates in akso_delegates.delegates_by_level %}
                <li class="country-level" data-level="{{level}}">
                    <div class="level-info">
                        <h2 class="level-label">
                            {{akso_locale.delegates['country_level_' ~ level]}}
                        </h2>
                    </div>
                    <ul class="level-delegates">
                        {% for delegation in level_delegates %}
                            {{_self.delegate_item(akso_locale, akso_delegates, delegation)}}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <ul class="delegation-cities">
            {% for city in akso_delegates.cities %}
                {% set city_delegates = akso_delegates.delegates_by_city[city.id] %}
                <li class="delegation-city" data-geo-id="{{city.id}}" data-label="{{city.label}}">
                    <div class="city-info">
                        <h2 class="city-label">{{city.label}}</h2>
                        <div class="city-meta">
                            <div class="city-subdivision">{{city.subdivision}}</div>
                            <div class="city-population">
                                {{akso_locale.delegates.population_0}}
                                {{city.population}}
                                {{akso_locale.delegates.population_1}}
                            </div>
                        </div>
                    </div>
                    <ul class="city-delegates">
                        {% for delegation in city_delegates %}
                            {{_self.delegate_item(akso_locale, akso_delegates, delegation)}}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        {% if akso_delegates.should_paginate %}
            {% if akso_delegates.page == 1 %}
                <a class="link-button" href="{{akso_delegates.page_link_first}}#landoj">
                    {{akso_locale.delegates.prev_page}}
                </a>
            {% elseif akso_delegates.page > 0 %}
                {# page is zero indexed but pages are one-indexed #}
                <a class="link-button" href="{{akso_delegates.page_link_stub}}{{akso_delegates.page}}#landoj">
                    {{akso_locale.delegates.prev_page}}
                </a>
            {% endif %}
            {% if akso_delegates.page < akso_delegates.max_page %}
                <a class="link-button" href="{{akso_delegates.page_link_stub}}{{akso_delegates.page + 2}}#landoj">
                    {{akso_locale.delegates.next_page}}
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
