{% extends 'partials/base.html.twig' %}
{% block content %}

    {% macro city_item(akso_delegates, item) %}
        <div class="city-item">
            <div class="city-label">{{item.eoLabel|default(item.nativeLabel)}}</div>
            {% if item.nativeLabel != item.eoLabel %}
                <div class="city-native-label">{{item.nativeLabel}}</div>
            {% endif %}
            <div class="city-subdiv-country">
                <div class="city-subdivision">{{item.subdivision_eoLabel|default(item.subdivision_nativeLabel)}}</div>
                <div class="city-country">{{akso_delegates.countries[item.country]}}</div>
            </div>
        </div>
    {% endmacro %}

    {% macro subject_item(akso_delegates, item) %}
        <div class="subject-item">
            <div class="subject-label">{{item.name}}</div>
            <div class="subject-description">
                {% for line in item.description|split('\n') %}
                    <div>{{line}}</div>
                {% endfor %}
            </div>
        </div>
    {% endmacro %}

    <div class="akso-delegates-application-form">
        {% if akso_delegates.message %}
            <div class="form-message">
                {{akso_delegates.message}}
            </div>
        {% endif %}
        {% if akso_delegates.error %}
            <div class="form-error">
                {{akso_delegates.error}}
            </div>
        {% endif %}

        {% if akso_delegates.has_page_contents %}
        {{page.content}}
        {% endif %}

        <div class="akso-logged-in-only-content">
            <div class="akso-logged-in-only-content-if-clause">
                {% if akso_delegates.is_pre_form %}
                <form class="pre-form" method="POST">
                    <input type="hidden" name="_begin" value="1">
                    <button type="submit" class="link-button">
                        {{akso_locale.delegate_appl.begin_button}}
                    </button>
                </form>
                {% endif %}

                {% if akso_delegates.can_go_back %}
                    <form method="POST">
                        <input type="hidden" name="state" value="{{akso_delegates.state_serialized|e('html_attr')}}" />
                        <input type="hidden" name="_back" value="1">
                        <button class="back-button" type="submit">
                            <span class="back-icon"></span>
                            {{akso_locale.delegate_appl.back}}
                        </button>
                    </form>
                {% endif %}

                {% if akso_delegates.page == 'pending' %}
                    <h2>{{akso_locale.delegate_appl.pending_title}}</h2>
                    <p>{{akso_locale.delegate_appl.pending_description}}</p>
                {% endif %}

                {% if akso_delegates.has_summary %}
                    <div class="application-summary">
                        <h3>{{akso_locale.delegate_appl.summary_title}}</h3>
                        <h4>{{akso_locale.delegate_appl.summary_cities}}</h4>
                        <ul class="selected-cities">
                            {% for cityId in akso_delegates.state.cities %}
                                {% set city = akso_delegates.selected_cities[cityId] %}
                                <li class="selected-city" data-geoid="{{city.id}}">
                                    {{_self.city_item(akso_delegates, city)}}
                                </li>
                            {% endfor %}
                        </ul>
                        {% if akso_delegates.page != 'subjects' %}
                        <h4>{{akso_locale.delegate_appl.summary_subjects}}</h4>
                        <ul class="selected-subjects">
                            {% for subjectId in akso_delegates.state.subjects %}
                                {% set subject = akso_delegates.selected_subjects[subjectId] %}
                                <li class="selected-subject">
                                    {{_self.subject_item(akso_delegates, subject)}}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if akso_delegates.page == 'pending' %}
                            {% if akso_delegates.hosting %}
                                <h4>{{akso_locale.delegate_appl.summary_hosting}}</h4>
                                <div class="hosting-summary">
                                    <div class="hosting-field">
                                        <label>{{akso_locale.delegate_appl.hosting_max_days}}</label>
                                        <div class="field-value">{{akso_delegates.hosting.maxDays|default('—')}}</div>
                                    </div>
                                    <div class="hosting-field">
                                        <label>{{akso_locale.delegate_appl.hosting_max_persons}}</label>
                                        <div class="field-value">{{akso_delegates.hosting.maxPersons|default('—')}}</div>
                                    </div>
                                    <div class="hosting-field">
                                        <label>{{akso_locale.delegate_appl.hosting_description}}</label>
                                        <div class="field-value">{{akso_delegates.hosting.description|default('—')|e}}</div>
                                    </div>
                                    <div class="hosting-field">
                                        <label>{{akso_locale.delegate_appl.hosting_ps_profile_url}}</label>
                                        <div class="field-value">
                                            {% if akso_delegates.hosting.psProfileURL %}
                                                <a target="_blank" rel="nofollow noreferrer" href="{{akso_delegates.hosting.psProfileURL|e}}">
                                                    {{akso_delegates.hosting.psProfileURL|e}}
                                                </a>
                                            {% else %}
                                                —
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <h4>{{akso_locale.delegate_appl.summary_no_hosting}}</h4>
                            {% endif %}
                            {% if akso_delegates.tos.paperAnnualBook %}
                                <h4>{{akso_locale.delegate_appl.summary_additional}}</h4>
                                <div>{{akso_locale.delegate_appl.summary_tos_paper_annual_book}}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if akso_delegates.page == 'pending' %}

                    <form method="POST" class="pending-delete-footer">
                        <input type="hidden" name="action" value="maybe_delete" />
                        <button type="submit">
                            {{akso_locale.delegate_appl.delete_pending_button}}
                        </button>
                    </form>

                {% elseif akso_delegates.page == 'delete' %}

                    <h2>{{akso_locale.delegate_appl.delete_pending_title}}</h2>
                    <p>{{akso_locale.delegate_appl.delete_pending_description}}</p>

                    <div class="delete-footer">
                        <a class="link-button" href="{{akso_delegates.return}}">
                            {{akso_locale.delegate_appl.delete_return}}
                        </a>

                        <form method="POST" class="delete-button-container">
                            <input type="hidden" name="action" value="delete" />
                            <button type="submit">
                                {{akso_locale.delegate_appl.delete_button}}
                            </button>
                        </form>
                    </div>

                {% elseif akso_delegates.page == 'cities' %}
                    <div class="inner-form">
                        <div class="object-selection">
                            <h2>{{akso_locale.delegate_appl.select_cities}}</h2>
                            <p>{{akso_locale.delegate_appl.select_cities_desc}}</p>
                            {% if akso_delegates.state.cities is not empty %}
                                <form class="selected-objects-container" method="POST">
                                    <input type="hidden" name="state" value="{{akso_delegates.state_serialized|e('html_attr')}}">

                                    <h3>{{akso_locale.delegate_appl.selected_cities}}</h3>
                                    <ul class="selected-objects">
                                        {% for cityId in akso_delegates.state.cities %}
                                            {% set city = akso_delegates.selected_cities[cityId] %}
                                            <li class="selected-object" data-geoid="{{city.id}}">
                                                <div class="remove-container">
                                                    <button
                                                        class="remove-button"
                                                        aria-label="{{akso_locale.delegate_appl.remove_city}}"
                                                        type="submit"
                                                        formaction="{{akso_delegates.remove_city_path}}{{city.id}}">
                                                    </button>
                                                </div>
                                                {{_self.city_item(akso_delegates, city)}}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <div class="continue-button-container">
                                        <button
                                            class="continue-button is-primary"
                                            type="submit"
                                            formaction="{{akso_delegates.continue_path}}">
                                            {{akso_locale.delegate_appl.cities_continue}}
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                            <div class="object-search-container">
                                <h3>{{akso_locale.delegate_appl.search_cities_title}}</h3>
                                <div class="object-search">
                                    <form class="inner-search inline-search-form" method="POST">
                                        <input type="hidden" name="state" value="{{akso_delegates.state_serialized|e('html_attr')}}">

                                        <input
                                            class="search-query"
                                            type="text"
                                            name="q"
                                            placeholder="{{akso_locale.delegate_appl.search_cities_placeholder}}"
                                            value="{{akso_delegates.query}}" />
                                        <button type="submit" class="search-submit">
                                            <img
                                                class="search-icon"
                                                role="presentation"
                                                aria-label="{{akso_locale.delegate_appl.search_cities}}"
                                                src="/user/themes/uea/images/search.svg" />
                                        </button>
                                    </form>

                                    <form class="search-results-container" method="POST">
                                        <input type="hidden" name="state" value="{{akso_delegates.state_serialized|e('html_attr')}}">

                                        <ul class="object-search-results">
                                            {% for item in akso_delegates.results %}
                                                <li class="search-result-item">
                                                    {{_self.city_item(akso_delegates, item)}}
                                                    {% if item.id in akso_delegates.state.cities %}
                                                        <button class="result-add-is-dup" type="button" disabled>
                                                            {{akso_locale.delegate_appl.select_city_dup}}
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" formaction="{{akso_delegates.add_city_path}}{{item.id}}">
                                                            {{akso_locale.delegate_appl.select_city}}
                                                        </button>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            {% if akso_delegates.query is not empty and akso_delegates.results is empty %}
                                            <div class="no-results">
                                                {{akso_locale.delegate_appl.cities_no_results}}
                                            </div>
                                            {% elseif akso_delegates.results is empty %}
                                            <div class="no-results">
                                                {{akso_locale.delegate_appl.cities_no_results_no_query}}
                                            </div>
                                            {% endif %}
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% elseif akso_delegates.page == 'subjects' %}

                    <div class="inner-form">
                        <div class="object-selection">
                            <h2>{{akso_locale.delegate_appl.select_subjects}}</h2>
                            <p>{{akso_locale.delegate_appl.select_subjects_desc}}</p>
                            {% if akso_delegates.state.subjects is not empty %}
                                <form class="selected-objects-container" method="POST">
                                    <input type="hidden" name="state" value="{{akso_delegates.state_serialized|e('html_attr')}}">

                                    <h3>{{akso_locale.delegate_appl.selected_subjects}}</h3>
                                    <ul class="selected-objects">
                                        {% for subjectId in akso_delegates.state.subjects %}
                                            {% set subject = akso_delegates.selected_subjects[subjectId] %}
                                            <li class="selected-object">
                                                <div class="remove-container">
                                                    <button
                                                        class="remove-button"
                                                        aria-label="{{akso_locale.delegate_appl.remove_subject}}"
                                                        type="submit"
                                                        formaction="{{akso_delegates.remove_subject_path}}{{subject.id}}">
                                                    </button>
                                                </div>
                                                {{_self.subject_item(akso_delegates, subject)}}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <div class="continue-button-container">
                                        <button
                                            class="continue-button is-primary"
                                            type="submit"
                                            formaction="{{akso_delegates.continue_path}}">
                                            {{akso_locale.delegate_appl.subjects_continue}}
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                            <div class="object-search-container">
                                <h3>{{akso_locale.delegate_appl.search_subjects_title}}</h3>
                                <div class="object-search">
                                    <form class="inner-search inline-search-form" method="POST">
                                        <input type="hidden" name="state" value="{{akso_delegates.state_serialized|e('html_attr')}}">

                                        <input
                                            class="search-query"
                                            type="text"
                                            name="q"
                                            placeholder="{{akso_locale.delegate_appl.search_subjects_placeholder}}"
                                            value="{{akso_delegates.query}}" />
                                        <button type="submit" class="search-submit">
                                            <img
                                                class="search-icon"
                                                role="presentation"
                                                aria-label="{{akso_locale.delegate_appl.search_subjects}}"
                                                src="/user/themes/uea/images/search.svg" />
                                        </button>
                                    </form>

                                    <form class="search-results-container" method="POST">
                                        <input type="hidden" name="state" value="{{akso_delegates.state_serialized|e('html_attr')}}">

                                        <ul class="object-search-results">
                                            {% for item in akso_delegates.results %}
                                                <li class="search-result-item">
                                                    {{_self.subject_item(akso_delegates, item)}}
                                                    {% if item.id in akso_delegates.state.subjects %}
                                                        <button class="result-add-is-dup" type="button" disabled>
                                                            {{akso_locale.delegate_appl.select_subject_dup}}
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" formaction="{{akso_delegates.add_subject_path}}{{item.id}}">
                                                            {{akso_locale.delegate_appl.select_subject}}
                                                        </button>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            {% if akso_delegates.query is not empty and akso_delegates.results is empty %}
                                            <div class="no-results">
                                                {{akso_locale.delegate_appl.subjects_no_results}}
                                            </div>
                                            {% elseif akso_delegates.results is empty %}
                                            <div class="no-results">
                                                {{akso_locale.delegate_appl.subjects_no_results_no_query}}
                                            </div>
                                            {% endif %}
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% elseif akso_delegates.page == 'final' %}

                    <div class="inner-form">
                        <form class="application-form" method="POST">
                            <input type="hidden" name="state" value="{{akso_delegates.state_serialized|e('html_attr')}}" />
                            <input type="hidden" name="action" value="submit" />
                            <div class="hosting-container">
                                <input
                                    id="offer-hosting"
                                    name="hosting[enabled]"
                                    type="checkbox"
                                    {% if akso_delegates.hosting %}
                                        checked
                                    {% endif %} />
                                <label class="hosting-label" for="offer-hosting">{{akso_locale.delegate_appl.offer_hosting_check}}</label>
                                <div class="hosting-description">
                                    {{akso_locale.delegate_appl.hosting_desc}}
                                </div>
                                <div class="hosting-fields">
                                    <div class="form-field">
                                        <div class="inner-field">
                                            <label for="hosting-max-days">{{akso_locale.delegate_appl.hosting_max_days}}</label>
                                            <input id="hosting-max-days" name="hosting[maxDays]" type="number" min="1" max="99" placeholder="0" value="{{akso_delegates.hosting.maxDays}}" />
                                        </div>
                                        <div class="field-description">
                                            {{akso_locale.delegate_appl.hosting_max_days_desc}}
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <div class="inner-field">
                                            <label for="hosting-max-persons">{{akso_locale.delegate_appl.hosting_max_persons}}</label>
                                            <input id="hosting-max-persons" name="hosting[maxPersons]" type="number" min="1" max="99" placeholder="0" value="{{akso_delegates.hosting.maxPersons}}" />
                                        </div>
                                        <div class="field-description">
                                            {{akso_locale.delegate_appl.hosting_max_persons_desc}}
                                        </div>
                                    </div>
                                    <div class="form-field is-stacked">
                                        <div class="inner-field">
                                            <label for="hosting-description">{{akso_locale.delegate_appl.hosting_description}}</label>
                                            <textarea id="hosting-description" name="hosting[description]" placeholder="{{akso_locale.delegate_appl.hosting_description_placeholder}}">{{akso_delegates.hosting.description}}</textarea>
                                        </div>
                                        <div class="field-description">
                                            {{akso_locale.delegate_appl.hosting_description_desc}}
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <div class="inner-field">
                                            <label for="hosting-pasporta-servo">{{akso_locale.delegate_appl.hosting_ps_profile_url}}</label>
                                            <input
                                                id="hosting-pasporta-servo"
                                                name="hosting[psProfileURL]"
                                                type="url"
                                                placeholder="https://www.pasportaservo.org/ejo/..."
                                                pattern="https://www.pasportaservo.org/ejo/(\d+)/?"
                                                value="{{akso_delegates.hosting.psProfileURL}}" />
                                        </div>
                                        <div class="field-description">
                                            {{akso_locale.delegate_appl.hosting_ps_profile_url_desc}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tos">
                                <div class="tos-field">
                                    <input
                                        id="tos-1"
                                        type="checkbox"
                                        name="tos[docDataProtectionUEA]"
                                        {% if akso_delegates.tos.docDataProtectionUEA %}
                                        checked
                                        {% endif %}
                                        required />
                                    <label for="tos-1" class="tos-required">
                                        {{
                                            akso_locale.delegate_appl.tos_data_protection_uea_0
                                        }}<a target="_blank" rel="nofollow noopener" href="{{akso_locale.delegate_appl.tos_data_protection_uea_1_link}}">{{
                                            akso_locale.delegate_appl.tos_data_protection_uea_1
                                        }}</a>{{
                                            akso_locale.delegate_appl.tos_data_protection_uea_2
                                        }}
                                    </label>
                                </div>
                                <div class="tos-field">
                                    <input
                                        id="tos-2"
                                        type="checkbox"
                                        name="tos[docDelegatesUEA]"
                                        {% if akso_delegates.tos.docDelegatesUEA %}
                                        checked
                                        {% endif %}
                                        required />
                                    <label for="tos-2" class="tos-required">
                                        {{
                                            akso_locale.delegate_appl.tos_delegates_0
                                        }}<a target="_blank" rel="nofollow noopener" href="{{akso_locale.delegate_appl.tos_delegates_1_link}}">{{
                                            akso_locale.delegate_appl.tos_delegates_1
                                        }}</a>{{
                                            akso_locale.delegate_appl.tos_delegates_2
                                        }}
                                    </label>
                                </div>
                                <div class="tos-field">
                                    <input
                                        id="tos-3"
                                        type="checkbox"
                                        name="tos[docDelegatesDataProtectionUEA]"
                                        {% if akso_delegates.tos.docDelegatesDataProtectionUEA %}
                                        checked
                                        {% endif %}
                                        required />
                                    <label for="tos-3" class="tos-required">
                                        {{
                                            akso_locale.delegate_appl.tos_delegates_data_protection_uea_0
                                        }}<a target="_blank" rel="nofollow noopener" href="{{akso_locale.delegate_appl.tos_delegates_data_protection_uea_1_link}}">{{
                                            akso_locale.delegate_appl.tos_delegates_data_protection_uea_1
                                        }}</a>{{
                                            akso_locale.delegate_appl.tos_delegates_data_protection_uea_2
                                        }}
                                    </label>
                                </div>
                                <div class="tos-field">
                                    <input
                                        id="tos-4"
                                        type="checkbox"
                                        name="tos[paperAnnualBook]"
                                        {% if akso_delegates.tos.paperAnnualBook %}
                                        checked
                                        {% endif %} />
                                    <label for="tos-4">
                                        {{
                                            akso_locale.delegate_appl.tos_paper_annual_book_0
                                        }}<a target="_blank" rel="nofollow noopener" href="{{akso_locale.delegate_appl.tos_paper_annual_book_1_link}}">{{
                                            akso_locale.delegate_appl.tos_paper_annual_book_1
                                        }}</a>{{
                                            akso_locale.delegate_appl.tos_paper_annual_book_2
                                        }}
                                    </label>
                                    <div class="tos-field-desc">
                                        {{akso_locale.delegate_appl.tos_paper_annual_book_desc}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-field is-stacked">
                                <label for="application-notes">{{akso_locale.delegate_appl.notes}}</label>
                                <textarea name="notes" id="application-notes">{{akso_delegates.notes}}</textarea>
                                <div class="field-description">
                                    {{akso_locale.delegate_appl.notes_desc}}
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="is-primary">
                                    {{akso_locale.delegate_appl.submit}}
                                </button>
                            </div>
                        </form>
                    </div>

                {% elseif akso_delegates.page == 'success' %}

                    <h2>{{akso_locale.delegate_appl.success_title}}</h2>
                    <p>{{akso_locale.delegate_appl.success_description}}</p>

                {% endif %}
            </div>
            <div class="akso-logged-in-only-content-else-clause">
                <div class="akso-logged-in-only-box"></div>
            </div>
        </div>
    </div>
{% endblock %}
