{% extends 'partials/base.html.twig' %}
{% block content %}
    {{page.content|raw}}
    {% set should_collapse = '' %}
    {% if not akso_clist.view_all %}
        {% set should_collapse = 'init-collapsed' %}
    {% endif %}

    <div class="org-list-tags {{should_collapse}}" id="fakoj">
        <h3 class="overview-title">{{akso_locale.tag_org_lists.tag_selector_title}}</h3>
        <ul class="tag-items" aria-label="{{akso_locale.tag_org_lists.tags_all_label}}">
            {% for tag, link in akso_clist.list_tag_links %}
                {% set is_current = '' %}
                {% if akso_clist.view == tag %}
                    {% set is_current = 'is-current' %}
                {% endif %}
                <li class="tag-item {{is_current}}" data-tag="{{tag|e('html_attr')}}">
                    <a class="inner-item" href="{{link|e('html_attr')}}">
                        {{tag}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if not akso_clist.view_all %}
        <div class="org-list">
            {% set tag = akso_clist.view %}
            <h1 class="tag-title">
                {{tag}}
            </h1>
            <ul class="inner-org-list" aria-label="{{akso_locale.tag_org_lists.tag_list_label_0}}{{tag}}{{akso_locale.tag_org_lists.tag_list_label_1}}">
                {% for orgId in akso_clist.list_tags[tag] %}
                {% set org = akso_clist.orgs[orgId] %}
                <li class="inner-org-card">
                    <div class="org-header">
                        <h4 class="org-name">
                            {% if org.website %}
                            <a
                                class="inner-org-name"
                                target="_blank"
                                rel="noreferrer"
                                href="{{org.website|e('html_attr')}}">{{org.fullName|e}}</a>
                            {% else %}
                            <span class="inner-org-name">{{org.fullName|e}}</span>
                            {% endif %}
                        </h4>
                        {% if org.fullNameLocal %}
                        <h5 class="org-local-name">{{org.fullNameLocal|e}}</h5>
                        {% endif %}
                        <div class="org-descriptor">{{org.mainDescriptor|e}}</div>
                    </div>
                    {% if org.factoids is not empty or org.biography is not empty %}
                    <details class="org-details">
                        <summary>
                            {{akso_locale.country_org_lists.country_item_summary_title}}
                        </summary>
                        <div class="org-post-info">
                            {% set factoids = {
                                factoids: org.factoids|merge(org.data_factoids),
                            } %}
                            {% include 'partials/akso_codeholder_factoids.html.twig' %}
                            <div class="org-biography">
                                {% set is_first = true %}
                                {% for line in org.biography|split('\n') %}
                                    {% if is_first %}
                                        {% set is_first = false %}
                                    {% else %}
                                    <br />
                                    {% endif %}
                                    {{line|e}}
                                {% endfor %}
                            </div>
                        </div>
                    </details>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
