{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if akso_auth_failed %}
        <div id="akso-login-error">
            {{ akso_locale.login.error_auth_failed }}
        </div>
    {% elseif akso_login_error %}
        <div id="akso-login-error">
            {{ akso_login_error }}
        </div>
    {% endif %}
    <form id="akso-login" method="POST">
        {% if akso_full_auth %}
            <p>
                {{ akso_locale.login.already_logged_in }}
            </p>
        {% elseif akso_login_forgot_login %}
            <p>
                {{ akso_locale.login.forgot_login_message }}
            </p>
        {% elseif akso_login_lost_code %}
            <p>
                {{ akso_locale.login.lost_totp_message }}
            </p>
        {% elseif akso_login_is_pw_reset and akso_login_pw_reset_success %}
            <p>
                {{ akso_locale.login.forgot_password_success }}
            </p>
        {% elseif akso_login_is_pw_reset %}
            <h1 class="title small-title">{{akso_locale.login.forgot_password_title}}</h1>
            <p>
                {{ akso_locale.login.forgot_password_msg }}
            </p>
            <div class="form-field">
                <label for="akso-login-username">
                    {{ akso_locale.login.username }}
                </label>
                <input
                        id="akso-login-username"
                        name="username"
                        type="text"
                        value="{{ akso_login_username|e('html_attr') }}"
                        {% if not akso_login_username|e('html_attr') %} autofocus {% endif %} />
            </div>
            <div class="form-aux">
                <input type="hidden" name="return" value="{{ akso_login_return_path|e('html_attr') }}" />
                <input type="hidden" name="reset_password" value="yes" />
            </div>
            <footer class="form-footer">
                <a class="link-button" href="{{ akso_login_path }}">
                    Reiri
                </a>
                <div class="footer-spacer"></div>
                <button type="submit" class="is-primary">
                    {{ akso_locale.login.btn_send_reset_email }}
                </button>
            </footer>
        {% elseif akso_login_creating_password %}
            <h1 class="title small-title">
                {% if akso_login_resetting_password %}
                    {{akso_locale.login.reset_password_title}}
                {% else %}
                    {{akso_locale.login.create_password_title}}
                {% endif %}
            </h1>
            <p>
                {% if akso_login_resetting_password %}
                    {{ akso_locale.login.reset_password_msg }}
                {% else %}
                    {{ akso_locale.login.create_password_msg }}
                {% endif %}
            </p>
            <div class="form-field">
                <label for="akso-login-username">
                    {{ akso_locale.login.username }}
                </label>
                <input
                    id="akso-login-username"
                    disabled readonly
                    name="username"
                    type="text"
                    value="{{ akso_login_create_password_data.login|e('html_attr') }}" />
            </div>
            <div class="form-field">
                <label for="akso-login-password">
                    {{ akso_locale.login.password }}
                </label>
                <input
                    id="akso-login-password"
                    name="password"
                    type="password"
                    autofocus />
            </div>
            <div class="form-field">
                <label for="akso-login-password">
                    {{ akso_locale.login.password_confirm }}
                </label>
                <input
                    id="akso-login-password"
                    name="password2"
                    type="password" />
            </div>
            <input type="hidden" name="create_password_username" value="{{ akso_login_create_password_data.login|e('html_attr') }}">
            <input type="hidden" name="create_password_token" value="{{ akso_login_create_password_data.token|e('html_attr') }}">
            <footer class="form-footer">
                <div class="footer-spacer"></div>
                <button type="submit" class="is-primary">
                    {% if akso_login_resetting_password %}
                        {{ akso_locale.login.btn_reset_password }}
                    {% else %}
                        {{ akso_locale.login.btn_create_password }}
                    {% endif %}
                </button>
            </footer>
        {% elseif akso_login_totp_setup %}
            <h1 class="title">{{akso_locale.login.totp_title}}</h1>
            <div class="totp-setup-alert">{{akso_locale.login.totp_setup_message}}</div>
            {% include 'partials/akso_totp_setup.html.twig' %}
            <div class="totp-remember">
                <input type="checkbox" name="remember" id="akso-login-totp-remember" />
                <label for="akso-login-totp-remember">
                    {{ akso_locale.login.totp_remember }}
                </label>
                <div class="totp-remember-description">
                    {{ akso_locale.login.totp_remember_description }}
                </div>
            </div>
            <footer class="form-footer">
                <div class="footer-help-links"></div>

                <button type="submit" class="is-primary">
                    {{ akso_locale.login.btn_login }}
                </button>
            </footer>
        {% elseif akso_login_totp %}
            <h1 class="title">{{akso_locale.login.totp_title}}</h1>
            <p>{{akso_locale.login.totp_message}}</p>
            <div class="form-field">
                <input
                    id="akso-login-totp"
                    name="totp"
                    type="text"
                    placeholder="000000"
                    {# \d* seems to be the only way to get a numpad input on iOS #}
                    pattern="\d*"
                    inputmode="numeric"
                    autocomplete="off"
                    autofocus />
            </div>
            <div class="totp-remember">
                <input type="checkbox" name="remember" id="akso-login-totp-remember" />
                <label for="akso-login-totp-remember">
                    {{ akso_locale.login.totp_remember }}
                </label>
                <div class="totp-remember-description">
                    {{ akso_locale.login.totp_remember_description }}
                </div>
            </div>
            <footer class="form-footer">
                <input type="hidden" name="return" value="{{ akso_login_return_path|e('html_attr') }}" />
                <div class="footer-help-links">
                    <a href="{{ akso_login_lost_code_path|e('html_attr') }}">
                        {{akso_locale.login.totp_cannot_generate}}
                    </a>
                </div>

                <button type="submit" class="is-primary">
                    {{ akso_locale.login.btn_login }}
                </button>
            </footer>
        {% else %}
            <h1 class="title">Ensaluti</h1>
            <div class="form-field">
                <label for="akso-login-username">
                    {{ akso_locale.login.username }}
                </label>
                <input
                    id="akso-login-username"
                    name="username"
                    type="text"
                    value="{{ akso_login_username|e('html_attr') }}"
                    {% if not akso_login_username|e('html_attr') %} autofocus {% endif %} />
            </div>
            <div class="form-field">
                <label for="akso-login-password">
                    {{ akso_locale.login.password }}
                </label>
                <input
                    id="akso-login-password"
                    name="password"
                    type="password"
                    {% if akso_login_username %} autofocus {% endif %} />
            </div>
            <div class="form-aux">
                <input type="hidden" name="return" value="{{ akso_login_return_path|e('html_attr') }}" />
                {# fake inputs to prevent bots #}
                ne ŝaltu ĉi tiun butonon:
                <input type="checkbox" name="termsofservice" />
                kaj ne uzu ĉi tiun enigon:
                <input type="email" name="email" />
            </div>
            <footer class="form-footer">
                <div class="footer-help-links">
                    <a href="{{ akso_login_forgot_password_path|e('html_attr') }}">Mi forgesis mian pasvorton</a>
                    <a href="{{ akso_login_forgot_login_path|e('html_attr') }}">Mi forgesis mian UEA-kodon</a>
                </div>

                <button type="submit" class="is-primary">
                    {{ akso_locale.login.btn_continue }}
                </button>
            </footer>
        {% endif %}
    </form>
{% endblock %}
