{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if account.message %}
        {% if account.message.success %}
            <blockquote class="infobox">
                {{account.message.message}}
            </blockquote>
        {% else %}
            <blockquote class="infobox is-error">
                {{account.message.message}}
            </blockquote>
        {% endif %}
    {% endif %}
    {% if account.page == 'notifications' %}
        <a class="back-button" href="{{account.account_path}}">
            <span class="back-icon"></span>
            {{akso_locale.account_notifs.back_to_account}}
        </a>
        <h1>{{akso_locale.account_notifs.title}}</h1>
        <div class="account-telegram-link">
            <h3>{{akso_locale.account_notifs.telegram_link}}</h3>
            {% if account.telegram_linked %}
                <p>
                    {{akso_locale.account_notifs.telegram_is_linked}}
                </p>
                <form action="{{account.path}}" method="POST">
                    <input type="hidden" name="telegram" value="unlink" />
                    <button type="submit">{{akso_locale.account_notifs.telegram_unlink_btn}}</button>
                </form>
            {% else %}
                <p>
                    {{akso_locale.account_notifs.telegram_is_not_linked}}
                </p>
                <form action="{{account.path}}" method="POST">
                    <input type="hidden" name="telegram" value="link" />
                    <button type="submit">{{akso_locale.account_notifs.telegram_link_btn}}</button>
                </form>
            {% endif %}
        </div>
        <hr />
        <form class="account-notifs" action="{{account.path}}" method="POST">
            <input type="hidden" name="action" value="set_notif_builtin" />
            <div class="notif-setting">
                <div class="inner-setting is-inline">
                    <div class="setting-label">{{akso_locale.account_notifs.notif_global}}</div>
                    <div class="setting-value">
                        <input
                            {% if account.global_prefs == 'e' %} checked {% endif %}
                            type="radio" name="notif_global" value="e" id="notif-global-email">
                        <label for="notif-global-email">{{akso_locale.account_notifs.notif_email}}</label>
                        <input
                            {% if account.global_prefs == 't' %} checked {% endif %}
                            {% if not account.telegram_linked %} disabled {% endif %}
                            type="radio" name="notif_global" value="t" id="notif-global-telegram">
                        <label for="notif-global-telegram">{{akso_locale.account_notifs.notif_telegram}}</label>
                        <input
                            {% if account.global_prefs == 'et' %} checked {% endif %}
                            {% if not account.telegram_linked %} disabled {% endif %}
                            type="radio" name="notif_global" value="et" id="notif-global-both">
                        <label for="notif-global-both">{{akso_locale.account_notifs.notif_both}}</label>
                    </div>
                </div>
            </div>
            <h4>{{akso_locale.account_notifs.notif_builtin}}</h4>
            {% for pref, value in account.builtin_prefs %}
                <div class="notif-setting">
                    <div class="inner-setting">
                        <div class="setting-label">{{akso_locale.notif_pref_builtin_categories[pref]}}</div>
                        <div class="setting-desc">
                            {{akso_locale.notif_pref_builtin_categories[pref ~ '_desc']}}
                        </div>
                        <div class="setting-value">
                            {% set id_prefix = 'notif-' ~ pref %}
                            {% set name = 'notif_builtin[' ~ pref ~ ']' %}
                            <input
                                {% if not value %} checked {% endif %}
                                type="radio" name="{{name}}" value="x" id="{{id_prefix}}-inherit">
                            <label for="{{id_prefix}}-inherit">{{akso_locale.account_notifs.notif_inherit}}</label>
                            <input
                                {% if value == 'e' %} checked {% endif %}
                                type="radio" name="{{name}}" value="e" id="{{id_prefix}}-email">
                            <label for="{{id_prefix}}-email">{{akso_locale.account_notifs.notif_email}}</label>
                            <input
                                {% if value == 't' %} checked {% endif %}
                                {% if not account.telegram_linked %} disabled {% endif %}
                                type="radio" name="{{name}}" value="t" id="{{id_prefix}}-telegram">
                            <label for="{{id_prefix}}-telegram">{{akso_locale.account_notifs.notif_telegram}}</label>
                            <input
                                {% if value == 'et' %} checked {% endif %}
                                {% if not account.telegram_linked %} disabled {% endif %}
                                type="radio" name="{{name}}" value="et" id="{{id_prefix}}-both">
                            <label for="{{id_prefix}}-both">{{akso_locale.account_notifs.notif_both}}</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="notifs-actions">
                <button type="submit">{{akso_locale.account_notifs.notif_apply}}</button>
            </div>
        </form>
        <div class="account-newsletters">
            <h3>{{akso_locale.account_notifs.newsletters_title}}</h3>
            <ul class="newsletters-list">
                {% for newsletter in account.newsletters %}
                    {% set newsletter_label = newsletter.name %}
                    {% if newsletter.subscribed %}
                        {% set newsletter_label = newsletter_label ~ ', ' ~ akso_locale.account_notifs.newsletter_subscribed %}
                    {% endif %}
                    <li class="newsletter-item" aria-label="{{newsletter_label}}">
                        <span class="newsletter-org">{{newsletter.org}}</span>
                        <span class="newsletter-name">{{newsletter.name}}</span>
                        <div class="newsletter-description">
                            {{newsletter.description_rendered|raw}}
                        </div>
                        {% if newsletter.subscribed %}
                            <form class="newsletter-action" method="POST" action="{{account.path}}">
                                <div class="newsletter-is-subscribed">
                                    {{akso_locale.account_notifs.newsletter_subscribed}}
                                    <div class="newsletter-subscribed-since">
                                        {{akso_locale.account_notifs.newsletter_subscribed_since}}
                                        <time class="dyn-timestamp" datetime="{{ newsletter.time|date('c') }}">
                                            {{newsletter.time|akso_datetime}}
                                        </time>
                                    </div>
                                </div>

                                <input type="hidden" name="action" value="unsub">
                                <input type="hidden" name="newsletter" value="{{newsletter.id}}">
                                <button type="submit">
                                    {{akso_locale.account_notifs.newsletter_unsubscribe}}
                                </button>
                            </form>
                        {% else %}
                            <form class="newsletter-action" method="POST" action="{{account.path}}">
                                <span class="spacer"></span>
                                <input type="hidden" name="action" value="sub">
                                <input type="hidden" name="newsletter" value="{{newsletter.id}}">
                                <button type="submit">
                                    {{akso_locale.account_notifs.newsletter_subscribe}}
                                </button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% elseif account.page == 'confirm-sub' %}
        <a class="back-button" href="{{account.path}}">
            <span class="back-icon"></span>
            {{akso_locale.account_notifs.newsletter_sub_back}}
        </a>
        <h2>{{akso_locale.account_notifs.newsletter_subscribe}}</h2>
        {% if account.newsletter %}
            <p>
                {{akso_locale.account_notifs.newsletter_subscribe_yousure_0}}{{
                account.newsletter.name
                }}{{akso_locale.account_notifs.newsletter_subscribe_yousure_1}}
            </p>
            <form method="POST" action="{{account.path}}">
                <input type="hidden" name="action" value="sub">
                <input type="hidden" name="confirmed" value="yes">
                <input type="hidden" name="newsletter" value="{{account.newsletter.id}}">
                <button type="submit">
                    {{akso_locale.account_notifs.newsletter_subscribe}}
                </button>
            </form>
        {% else %}
            <p>
                {{akso_locale.account_notifs.newsletter_subscribe_failed_notfound}}
            </p>
        {% endif %}
    {% elseif account.page == 'confirm-unsub' %}
        <a class="back-button" href="{{account.path}}">
            <span class="back-icon"></span>
            {{akso_locale.account_notifs.newsletter_sub_back}}
        </a>
        <h2>{{akso_locale.account_notifs.newsletter_unsubscribe}}</h2>
        {% if account.newsletter %}
            <p>
                {{akso_locale.account_notifs.newsletter_unsubscribe_yousure_0}}{{
                account.newsletter.name
                }}{{akso_locale.account_notifs.newsletter_unsubscribe_yousure_1}}
            </p>
            <p>
                {{akso_locale.account_notifs.newsletter_unsubscribe_reason_desc}}
            </p>
            <form method="POST" action="{{account.path}}">
                <ul>
                    {% for i in 0..(akso_locale.account_notifs.newsletter_unsub_reason_max) %}
                        <li>
                            {% set id = 'unsub_reason_' ~ i %}
                            <input
                                type="radio"
                                id="{{id}}"
                                name="reason"
                                {% if i == 0 %}
                                checked
                                {% endif %}
                                value="{{i}}" />
                            <label for="{{id}}">
                                {{akso_locale.account_notifs['newsletter_unsub_reason_' ~ i]}}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                <input type="hidden" name="action" value="unsub">
                <input type="hidden" name="newsletter" value="{{account.newsletter.id}}">
                <button type="submit">
                    {{akso_locale.account_notifs.newsletter_unsubscribe}}
                </button>
            </form>
        {% else %}
            <p>
                {{akso_locale.account_notifs.newsletter_unsubscribe_failed_notfound}}
            </p>
        {% endif %}
    {% elseif account.page == 'link-telegram' %}
        <a class="back-button" href="{{account.path}}">
            <span class="back-icon"></span>
            {{akso_locale.account_notifs.telegram_back}}
        </a>
        {% if account.already_linked %}
            <p>
                {{akso_locale.account_notifs.telegram_is_linked}}
            </p>
        {% else %}
            <h2>{{akso_locale.account_notifs.telegram_link}}</h2>
            <p>
                {{akso_locale.account_notifs.telegram_link_desc}}
            </p>
            <a rel="nofollow noreferrer" target="_blank" href="{{account.link|e('html_attr')}}">
                {{account.link|e}}
            </a>
            <p>
                {{akso_locale.account_notifs.telegram_link_desc2}}
            </p>
        {% endif %}
    {% elseif account.page == 'unlink-telegram' %}
        <a class="back-button" href="{{account.path}}">
            <span class="back-icon"></span>
            {{akso_locale.account_notifs.telegram_back}}
        </a>
        <p>
            {% if account.success %}
                {{akso_locale.account_notifs.telegram_unlinked}}
            {% else %}
                {{akso_locale.account_notifs.telegram_unlinked_no_link}}
            {% endif %}
        </p>
    {% endif %}
{% endblock %}
