{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if account.page == 'votes' %}
        <ul class="account-vote-list">
            {% for vote in account.votes %}
            {% set vote_link = account.path ~ '?v=' ~ vote.id %}
            <li class="vote-item">
                <div class="vote-title">
                    <span class="vote-org">{{vote.org}}</span>
                    <a class="vote-name" href="{{vote_link}}">
                        {{vote.name|e}}
                    </a>
                </div>
                <div class="vote-time">
                    <time class="dyn-timestamp" datetime="{{vote.timeStart|date('c')}}">
                        {{vote.fmt_time_start|e}}
                    </time>
                    —
                    <time class="dyn-timestamp" datetime="{{vote.timeEnd|date('c')}}">
                        {{vote.fmt_time_end|e}}
                    </time>
                </div>
                <div class="vote-description">
                    {{vote.description_rendered|raw}}
                </div>
                <div class="vote-status">
                    {% if vote.isActive %}
                        <span class="status-open">
                            <img src="/user/plugins/akso-bridge/assets/votes/vote.svg" />
                            {{akso_locale.account_votes.vote_status_active}}
                        </span>
                    {% elseif vote.hasEnded %}
                        <span class="status-open">
                            <img src="/user/plugins/akso-bridge/assets/votes/closed.svg" />
                            {{akso_locale.account_votes.vote_status_closed}}
                        </span>
                    {% else %}
                        <span class="status-open">
                            <img src="/user/plugins/akso-bridge/assets/votes/pending.svg" />
                            {{akso_locale.account_votes.vote_status_inactive}}
                        </span>
                    {% endif %}

                    {% if vote.isActive %}
                        {% if vote.hasVoted %}
                            <span class="status-voted">
                                <img src="/user/plugins/akso-bridge/assets/votes/voted.svg" />
                                {{akso_locale.account_votes.vote_status_voted}}
                            </span>
                        {% elseif vote.mayVote %}
                            <a class="vote-button link-button" href="{{ vote_link }}">
                                {{akso_locale.account_votes.vote_button}}
                            </a>
                        {% else %}
                            <span class="status-passive">
                                {{akso_locale.account_votes.vote_status_passive}}
                            </span>
                        {% endif %}
                    {% endif %}

                    {% if vote.hasResults %}
                        {% set vote_link = account.path ~ '?v=' ~ vote.id %}
                        <a class="results-button link-button" href="{{ vote_link }}">
                            {{akso_locale.account_votes.view_results}}
                        </a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% elseif account.page == 'vote' %}
        <div class="vote-detail">
            {% set vote = account.vote %}

            {% if account.state.error %}
                <div class="vote-error">
                    {{account.state.error|e}}
                </div>
            {% endif %}
            {% if account.state.message %}
                <div class="vote-message">
                    {{account.state.message|e}}
                </div>
            {% endif %}

            <a class="back-button" href="{{account.path}}">
                <span class="back-icon"></span>
                {{akso_locale.account_votes.back_to_overview}}
            </a>

            <h1>{{vote.name|e}}</h1>
            <div class="vote-description">
                {{vote.description_rendered|raw}}
            </div>

            {% set context = { akso_user_is_member, akso_locale } %}
            {% macro render_option(option, codeholders, context, verbose) %}
            <div class="vote-option">
                {% if option.type == 'simple' %}
                    <div class="option-contents">
                        <div class="option-name">{{option.name|e}}</div>
                        {% if verbose %}
                            <div class="option-description">{{option.description_rendered|raw}}</div>
                        {% endif %}
                    </div>
                {% elseif option.type == 'codeholder' %}
                    {% set codeholder = codeholders[option.codeholderId] %}
                    {% if codeholder.icon_src %}
                    <div class="option-icon">
                        <img
                            aria-hidden="true"
                            src="{{codeholder.icon_src|e('html_attr')}}"
                            srcset="{{codeholder.icon_srcset|e('html_attr')}}" />
                    </div>
                    {% endif %}
                    <div class="option-contents">
                        {% if verbose and codeholder.country %}
                        <div class="option-extra">
                            <img
                                class="inline-flag-icon"
                                src="{{codeholder.fmt_country_emoji.src|e('html_attr')}}"
                                alt="{{codeholder.fmt_country_emoji.alt|e('html_attr')}}" />
                            {{codeholder.fmt_country}}
                        </div>
                        {% endif %}
                        <div class="option-name">
                            {{codeholder.fmt_name|e}}
                        </div>
                        {% if verbose %}
                            <div class="option-description">{{option.description_rendered|raw}}</div>
                            {% if codeholder.has_details %}
                                <details class="option-codeholder-details">
                                    <summary>{{context.akso_locale.account_votes.option_codeholder_details}}</summary>
                                    <table>
                                        {% if codeholder.email %}
                                            <!-- because the user is logged in we won't bother obfuscating -->
                                            <div>
                                                <a href="mailto:{{codeholder.email|e('html_attr')}}">{{codeholder.email|e}}</a>
                                            </div>
                                        {% endif %}
                                        {% if codeholder.website %}
                                            <div>
                                                <a href="{{codeholder.website|e('html_attr')}}">{{codeholder.website|e}}</a>
                                            </div>
                                        {% endif %}
                                        {% if codeholder.biography %}
                                            <div>
                                                {% set is_first = true %}
                                                {% for line in codeholder.biography|split('\n') %}
                                                    {% if is_first %}
                                                        {% set is_first = false %}
                                                    {% else %}
                                                    <br />
                                                    {% endif %}
                                                    {{line|e}}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </table>
                                </details>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% endmacro %}
            {% macro render_stv_ballot(vote, ballot, context, verbose) %}
                {% if ballot is empty %}
                    <div class="vote-ballot empty-ballot">
                        {{context.akso_locale.account_votes.ranks_empty_ballot}}
                    </div>
                {% else %}
                    <ol class="vote-ballot stv-ballot">
                        {% for optid in ballot %}
                            <li>
                                {{_self.render_option(vote.options[optid], vote.codeholders, context, verbose)}}
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            {% endmacro %}
            {% macro render_rp_ballot(vote, ballot, context, verbose) %}
                {% if ballot is empty %}
                    <div class="vote-ballot empty-ballot">
                        {{context.akso_locale.account_votes.ranks_empty_ballot}}
                    </div>
                {% else %}
                    <ol class="vote-ballot rp-ballot">
                        {% for opts in ballot %}
                            <li>
                                <ul>
                                    {% for optid in opts %}
                                    <li>
                                        {{_self.render_option(vote.options[optid], vote.codeholders, context, verbose)}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            {% endmacro %}
            {% macro render_tm_ballot(vote, ballot, context, verbose) %}
                {% if ballot is empty %}
                    <div class="vote-ballot empty-ballot">
                        {{context.akso_locale.account_votes.ranks_empty_ballot}}
                    </div>
                {% else %}
                    <ul class="vote-ballot tm-ballot">
                        {% for optid in ballot %}
                            <li>
                                {{_self.render_option(vote.options[optid], vote.codeholders, context, verbose)}}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}
            {% macro render_ballot(vote, ballot, context, verbose) %}
                {% if vote.type == 'yn' or vote.type == 'ynb' %}
                    {{context.akso_locale.account_votes['vote_ynb_' ~ ballot]}}
                {% elseif vote.type == 'stv' %}
                    {{_self.render_stv_ballot(vote, ballot, context, verbose)}}
                {% elseif vote.type == 'rp' %}
                    {{_self.render_rp_ballot(vote, ballot, context, verbose)}}
                {% elseif vote.type == 'tm' %}
                    {{_self.render_tm_ballot(vote, ballot, context, verbose)}}
                {% endif %}
            {% endmacro %}

            {% if account.state.confirm %}
                <h2>{{akso_locale.account_votes.confirm_vote_title}}</h2>
                <div class="vote-ballot-confirmation">
                    {{_self.render_ballot(vote, account.state.ballot, context, false)}}

                    <div class="vote-confirm-buttons">
                        <form class="vote-inline-form" method="POST">
                            <input type="hidden" name="action" value="back" />
                            <input type="hidden" name="ballot" value="{{account.state.ballot_coded|e('html_attr')}}" />
                            <button type="submit">
                                {{akso_locale.account_votes.confirm_back}}
                            </button>
                        </form>
                        <form class="vote-inline-form" method="POST">
                            <input type="hidden" name="action" value="confirm" />
                            <input type="hidden" name="ballot" value="{{account.state.ballot_coded|e('html_attr')}}" />
                            <button type="submit">
                                {{akso_locale.account_votes.confirm_submit}}
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}
                {% if vote.hasVoted %}
                    <div class="vote-review">
                        <div class="review-timestamp">
                            <time class="dyn-timestamp" datetime="{{vote.ballot.timeVoted|date('c')}}">
                                {{vote.ballot.fmt_time}}
                            </time>
                        </div>
                        <div class="review-title">
                            <img src="/user/plugins/akso-bridge/assets/votes/voted.svg" />
                            {{akso_locale.account_votes.vote_status_voted}}
                        </div>
                        <div class="review-ballot">
                            {{_self.render_ballot(vote, vote.ballot.ballot, context, false)}}
                        </div>
                        {% if vote.ballotsSecret %}
                        <div class="review-secret">
                            {{akso_locale.account_votes.vote_review_secret}}
                        </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if vote.isActive and vote.mayVote %}
                    <form class="vote-form" method="POST">
                        <h2>
                            {% if vote.hasVoted %}
                                {{akso_locale.account_votes.vote_form_title_again}}
                            {% else %}
                                {{akso_locale.account_votes.vote_form_title}}
                            {% endif %}
                        </h2>

                        {% if vote.ballotsSecret %}
                            <div class="vote-secrecy-note">
                                {{akso_locale.account_votes.vote_desc_secret}}
                            </div>
                        {% elseif vote.hasVoted %}
                            <div class="vote-secrecy-note">
                                {{akso_locale.account_votes.vote_desc_not_secret_again}}
                            </div>
                        {% else %}
                            <div class="vote-secrecy-note">
                                {{akso_locale.account_votes.vote_desc_not_secret}}
                            </div>
                        {% endif %}

                        <input type="hidden" name="action" value="vote" />

                        {% if vote.type == 'yn' or vote.type == 'ynb' %}
                            <ul class="options-ynb">
                                <li class="ynb-option">
                                    <label class="inner-option" for="ynb-y">
                                        <input type="radio" name="choice" value="y" id="ynb-y" />
                                        {{akso_locale.account_votes.vote_ynb_y}}
                                    </label>
                                </li>
                                <li class="ynb-option">
                                    <label class="inner-option" for="ynb-n">
                                        <input type="radio" name="choice" value="n" id="ynb-n" />
                                        {{akso_locale.account_votes.vote_ynb_n}}
                                    </label>
                                </li>
                                {% if vote.type == 'ynb' %}
                                    <li class="ynb-option">
                                        <label class="inner-option" for="ynb-b">
                                            <input type="radio" name="choice" value="b" id="ynb-b" />
                                            {{akso_locale.account_votes.vote_ynb_b}}
                                        </label>
                                    </li>
                                {% endif %}
                            </ul>
                        {% elseif vote.type == 'stv' or vote.type == 'rp' %}
                            {% if vote.type == 'stv' %}
                                <div class="method-description">
                                    {{akso_locale.account_votes.vote_desc_stv}}
                                </div>
                            {% elseif vote.type == 'rp' %}
                                <div class="method-description">
                                    {{akso_locale.account_votes.vote_desc_rp}}
                                </div>
                            {% endif %}

                            <ul class="ranked-options" data-type="{{vote.type}}">
                                {% for index, option in vote.options %}
                                    <li class="ranked-option">
                                        <div class="option-contents">
                                            {{_self.render_option(option, vote.codeholders, context, true)}}
                                        </div>
                                        <div class="rank-input-container">
                                            <input
                                                class="rank-input"
                                                placeholder="{{ akso_locale.account_votes.rank_unranked }}"
                                                min="1"
                                                max="{{ vote.options|count }}"
                                                value="{{ account.state.values[index] }}"
                                                name="ranks[{{ index }}]"
                                                type="number" />
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% elseif vote.type == 'tm' %}
                            <div class="method-description">
                                {{akso_locale.account_votes.vote_desc_tm}}
                            </div>
                            <ul class="tm-options">
                                {% for index, option in vote.options %}
                                    <li class="tm-option">
                                        <div class="option-control-container">
                                            <input
                                                class="option-checkbox"
                                                type="checkbox"
                                                {% if account.state.values[index] %}
                                                checked
                                                {% endif %}
                                                name="selected[{{ index }}]"
                                                type="number" />
                                        </div>
                                        <div class="option-contents">
                                            {{_self.render_option(option, vote.codeholders, context, true)}}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="form-submit">
                            <button type="submit" class="is-primary">
                                {{akso_locale.account_votes.submit_button}}
                            </button>
                        </div>
                    </form>
                {% elseif vote.isActive %}
                    <div class="vote-form is-disabled">
                        {{akso_locale.account_votes.vote_form_disabled}}
                    </div>
                {% elseif vote.hasResults %}
                    <div class="vote-results">
                        <h2 class="results-title">
                            {{akso_locale.account_votes.results_title}}
                        </h2>

                        {% set result = vote.result %}
                        <div class="vote-result result-yn">
                            <div class="result-status">
                                {% if result.result == 'NO_QUORUM' %}
                                    {{akso_locale.account_votes.result_no_quorum}}
                                {% elseif result.result == 'MAJORITY' %}
                                    {{akso_locale.account_votes.result_majority}}
                                {% elseif result.result == 'NO_MAJORITY' %}
                                    {{akso_locale.account_votes.result_no_majority}}
                                {% elseif result.result == 'TOO_MANY_BLANK_BALLOTS' %}
                                    {{akso_locale.account_votes.result_too_many_blank_ballots}}
                                {% elseif result.result == 'TIE_BREAKER_NEEDED' %}
                                    {{akso_locale.account_votes.result_tie_breaker_needed}}
                                {% else %}
                                    {{akso_locale.account_votes.result_success}}
                                {% endif %}
                            </div>
                            {% if result.numVoters %}
                                <div class="result-turnout">
                                    {{result.numBallots}}
                                    /
                                    {{result.numVoters}}
                                    {{akso_locale.account_votes.result_turnout_post}}
                                    {% if result.numBlankBallots is defined %}
                                        {{result.numBlankBallots}}
                                        {% if result.numBlankBallots == 1 %}
                                        {{akso_locale.account_votes.result_turnout_blank_post}}
                                        {% else %}
                                        {{akso_locale.account_votes.result_turnout_blanks_post}}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if vote.type == 'yn' or vote.type == 'ynb' %}
                                <div class="result-ynb-tally">
                                    <table class="inner-table">
                                        <thead>
                                            <tr>
                                                <th>{{akso_locale.account_votes.result_table_header_option}}</th>
                                                <th>{{akso_locale.account_votes.result_table_header_votes}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{akso_locale.account_votes.vote_ynb_y}}</td>
                                                <td>{{result.tally.y}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{akso_locale.account_votes.vote_ynb_n}}</td>
                                                <td>{{result.tally.n}}</td>
                                            </tr>
                                            {% if result.tally.b is defined %}
                                            <tr>
                                                <td>{{akso_locale.account_votes.vote_ynb_b}}</td>
                                                <td>{{result.tally.b}}</td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            {% elseif vote.type == 'rp' %}
                                <div class="result-rp-tally">
                                    <table class="inner-table">
                                        <thead>
                                            <tr>
                                                <th>{{akso_locale.account_votes.result_table_header_option}}</th>
                                                <th>{{akso_locale.account_votes.result_table_header_votes}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for optid, votes in result.tally %}
                                            <tr>
                                                <td>{{_self.render_option(vote.options[optid], vote.codeholders, context, false)}}</td>
                                                <td>{{votes}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            {% if result.optsChosen %}
                                <div class="result-chosen">
                                    <div class="chosen-title">{{akso_locale.account_votes.result_opts_chosen}}</div>
                                    <ul class="chosen-options">
                                    {% for chosen in result.optsChosen %}
                                        <li class="chosen-item">
                                        {{_self.render_option(vote.options[chosen], vote.codeholders, context, false)}}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if result.rounds %}
                                <details class="stv-rounds-container">
                                    <summary>{{akso_locale.account_votes.result_stv_rounds}}</summary>
                                    <ul class="stv-rounds">
                                        {% for index, round in result.rounds %}
                                        <li class="stv-round">
                                            <div class="round-title">
                                                {{akso_locale.account_votes.result_stv_round_title_0}}{{index + 1}}{{akso_locale.account_votes.result_stv_round_title_1}}
                                            </div>
                                            <div class="round-votes">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>{{akso_locale.account_votes.result_table_header_option}}</th>
                                                            <th>{{akso_locale.account_votes.result_table_header_votes}}</th>
                                                            <th>{{akso_locale.account_votes.result_table_header_status}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for optid, votes in round.votes %}
                                                        <tr>
                                                            <td>
                                                                {{_self.render_option(vote.options[optid], vote.codeholders, context, false)}}
                                                            </td>
                                                            <td>
                                                                {{votes}}
                                                            </td>
                                                            <td>
                                                                {% if optid in round.optsChosen %}
                                                                    {{akso_locale.account_votes.result_table_status_chosen}}
                                                                {% elseif optid in round.optsEliminated %}
                                                                    {{akso_locale.account_votes.result_table_status_eliminated}}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </details>
                            {% endif %}
                        </div>


                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
