{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if account.reset_password.active %}
        <h2>{{ akso_locale.account.reset_password }}</h2>
        <p>
            {% if account.reset_password.state is same as('none') %}
            {{ akso_locale.account.reset_password_description }}
            {% elseif account.reset_password.state is same as('success') %}
            {{ akso_locale.account.reset_password_description_success }}
            {% elseif account.reset_password.state is same as('error') %}
            {{ akso_locale.account.reset_password_description_error }}
            {% endif %}
        </p>
        <form
            class="reset-password-buttons"
            method="POST"
            action="{{ account.reset_password.submit_link }}">
            <a class="link-button" href="{{ account.reset_password.return_link }}">
                {{ akso_locale.account.reset_password_back }}
            </a>
            <div class="form-aux">
                <input name="reset_password" value="1" />
            </div>
            {% if account.reset_password.state is same as('none') %}
            <button class="is-primary" type="submit">
                {{ akso_locale.account.reset_password_submit }}
            </button>
            {% endif %}
        </form>
    {% elseif account.cancel_chgreq.active %}
        <h1>{{ akso_locale.account.title }}</h1>
        <h2>{{ akso_locale.account.cancel_chgreq_title }}</h2>
        <div class="account-cancel-change-request">
            {% if account.cancel_chgreq.state is same as('none') %}
            <div class="pending-changes">
                <div class="changes-title">{{ akso_locale.account.cancel_chgreq_changes_title }}:</div>
                <ul class="changed-fields">
                    {% for field, value in account.pending_request.data %}
                        <li class="changed-field">
                            {{ akso_locale.account[field] }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% elseif account.cancel_chgreq.state is same as('success') %}
            <p>{{ akso_locale.account.cancel_chgreq_success }}</p>
            {% elseif account.cancel_chgreq.state is same as('error') %}
            <p>{{ akso_locale.account.cancel_chgreq_error }}</p>
            {% endif %}
            <form
                class="reset-password-buttons"
                method="POST"
                action="{{ account.cancel_chgreq.submit_link }}">
                <a class="link-button" href="{{ account.account_link }}">
                    {{ akso_locale.account.cancel_chgreq_back }}
                </a>
                <div class="form-aux">
                    <input name="cancel_request" value="1" />
                </div>
                {% if account.cancel_chgreq.state is same as('none') %}
                <button class="is-primary" type="submit">
                    {{ akso_locale.account.cancel_chgreq_commit }}
                </button>
                {% endif %}
            </form>
        </div>
    {% elseif account.editing_picture %}
        <h1>{{ akso_locale.account.title }}</h1>
        <a class="link-button back-button" href="{{ account.account_link }}">
            <span class="back-icon"></span>
            {{ akso_locale.account.edit_pfp_back }}
        </a>
        <div class="account-profile-picture-page">
            {% if account.error %}
                <div class="error-banner">
                    {{account.error}}
                </div>
            {% elseif account.message %}
                <div class="message-banner">
                    {{account.message}}
                </div>
            {% endif %}
            <h2 class="inner-title">{{ akso_locale.account.edit_pfp_title }}</h2>
            {% if account.details.profilePictureHash %}
                <div class="account-profile-picture">
                    <img
                        src="{{ account.details.profilePicturePath }}"
                        srcset="{{ account.details.profilePictureSizes }}" />
                </div>
            {% else %}
                <div class="account-profile-picture">
                    <div class="empty-picture">
                        {{ akso_locale.account.pfp_empty }}
                    </div>
                </div>
            {% endif %}
            <form class="picture-upload-form" method="POST" enctype="multipart/form-data">
                <h3>{{akso_locale.account.upload_pfp_title}}</h3>
                <input type="hidden" name="action" value="upload" />
                <div class="file-input-container">
                    <input
                        class="file-input"
                        name="picture"
                        accept="image/png, image/jpeg"
                        type="file" />
                </div>
                <button class="upload-button" type="submit">
                    {{ akso_locale.account.upload_pfp_upload }}
                </button>
                <div class="upload-description">
                    {{ akso_locale.account.upload_pfp_description }}
                </div>
            </form>
            {% if account.details.profilePictureHash %}
            <form class="picture-delete-form" method="POST">
                <h3>{{akso_locale.account.delete_pfp_title}}</h3>
                <input type="hidden" name="action" value="delete" />
                <input class="delete-switch" type="checkbox" id="pfp-delete" />
                <div class="delete-button-container">
                    <label aria-role="button" tabindex="0" class="link-button delete-button" for="pfp-delete">
                        {{ akso_locale.account.delete_pfp }}
                    </label>
                </div>
                <div class="delete-confirmation">
                    {{ akso_locale.account.delete_pfp_sure }}
                    <div class="confirmation-buttons">
                        <label aria-role="button" tabindex="0" class="link-button cancel-button" for="pfp-delete">
                            {{ akso_locale.account.delete_pfp_sure_no }}
                        </label>
                        <button type="submit" class="submit-button">
                            {{ akso_locale.account.delete_pfp_sure_yes }}
                        </button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    {% else %}
        <h1>{{ akso_locale.account.title }}</h1>
        {% if account.pending_request %}
            <div class="account-pending-request-banner">
                <a class="link-button cancel-button" href="{{ account.cancel_request_link }}">
                    {{ akso_locale.account.pending_request_cancel }}
                </a>
                <h3 class="banner-title">{{ akso_locale.account.pending_request_title }}</h3>
                {% if account.editing %}
                <h4 class="banner-subtitle">{{ akso_locale.account.pending_request_editing_subtitle }}</h4>
                {% else %}
                <h4 class="banner-subtitle">{{ akso_locale.account.pending_request_subtitle }}</h4>
                <div class="pending-changes">
                    <div class="changes-title">{{ akso_locale.account.pending_request_changes_title }}:</div>
                    <ul class="changed-fields">
                        {% for field, value in account.pending_request.data %}
                            <li class="changed-field">
                                {{ akso_locale.account[field] }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="pending-description">
                    <b>{{ akso_locale.account.pending_request_description }}</b>:
                    {{account.pending_request.codeholderDescription|default(akso_locale.account.pending_request_description_none)|e}}
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if account.editing %}
            <div class="akso-registration-page account-edit-page">
                <a class="link-button back-button" href="{{ account.account_link }}">
                    <span class="back-icon"></span>
                    {{ akso_locale.account.cancel_edit }}
                </a>
                {% if account.error %}
                    <div class="error-banner">
                        {{account.error}}
                    </div>
                {% endif %}
                <form class="account-details registration-settings" method="POST" action="{{ account.edit_path }}">
                    <input
                        type="hidden"
                        name="codeholder[codeholderType]"
                        value="{{account.codeholder.codeholderType}}" />
                    {% set akso_registration = { state: account, countries: account.countries } %}
                    {% set akso_reg_editing = true %}
                    {% include 'partials/akso_user_profile_form.html.twig' %}
                    <hr />
                    <div class="settings-description">
                        {{akso_locale.account.public_fields_desc}}
                    </div>
                    {% if account.codeholder.codeholderType == 'org' %}
                    {% else %}
                    <div class="settings-field" data-el="input" data-type="text">
                        <div class="inner-field">
                            <label for="codeholder-profession">{{akso_locale.account.profession}}</label>
                            <input
                                id="codeholder-profession"
                                name="codeholder[profession]"
                                type="text"
                                value="{{account.codeholder.profession|e('html_attr')}}" />
                        </div>
                    </div>
                    {% endif %}
                    <div class="settings-field" data-el="input" data-type="text">
                        <div class="inner-field">
                            <label for="codeholder-website">{{akso_locale.account.website}}</label>
                            <input
                                id="codeholder-website"
                                name="codeholder[website]"
                                type="url"
                                placeholder="{{akso_locale.account.website_placeholder|e('html_attr')}}"
                                value="{{account.codeholder.website|e('html_attr')}}" />
                        </div>
                    </div>
                    <div class="settings-field" data-el="input" data-type="text">
                        <div class="inner-field">
                            <label for="codeholder-public-email">{{akso_locale.account.publicEmail}}</label>
                            <input
                                id="codeholder-public-email"
                                name="codeholder[publicEmail]"
                                type="email"
                                value="{{account.codeholder.publicEmail|e('html_attr')}}" />
                        </div>
                        <div class="field-description">
                            {{akso_locale.account.publicEmailDesc}}
                        </div>
                    </div>
                    <div class="settings-field" data-el="input" data-type="text">
                        <div class="inner-field">
                            <label for="codeholder-public-country">{{akso_locale.account.publicCountry}}</label>
                            <select
                                id="registration-public-country"
                                name="codeholder[publicCountry]">
                                <option value="">—</option>
                                {% for country in account.countries %}
                                    <option
                                        value="{{ country.code|e('html_attr') }}"
                                        {% if account.codeholder.publicCountry == country.code %}
                                        selected
                                        {% endif %}
                                        >{{country.name_eo|e}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field-description">
                            {{akso_locale.account.publicCountryDesc}}
                        </div>
                    </div>
                    <div class="settings-field" data-el="input" data-type="text">
                        <div class="inner-field">
                            <label for="codeholder-biography">{{akso_locale.account.biography}}</label>
                            <textarea
                                id="codeholder-biography"
                                name="codeholder[biography]">{{account.codeholder.biography|e}}</textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="form-comments">
                        <label for="commit-desc">
                            {{akso_locale.account.commit_desc}}
                        </label>
                        <textarea
                            id="commit-desc"
                            maxLength="500"
                            placeholder="{{akso_locale.account.commit_desc_desc|e('html_attr')}}"
                            name="commit_desc">{{account.commit_desc}}</textarea>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="is-primary">
                            {{ akso_locale.account.submit_edit }}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="account-details">
                {% macro pending_field(pfd, name, render_name, render_raw = false) %}
                    {% set rname = name %}
                    {% if render_name %}
                        {% set rname = render_name %}
                    {% endif %}
                    {% if pfd.account.pending_details[name] %}
                        <div class="account-pending">
                            <span class="pending-mark">{{ pfd.akso_locale.account.pending_change }}</span>
                            {% if render_raw %}
                            <span class="pending-value">{{ pfd.account.pending_details[rname]|raw }}</span>
                            {% else %}
                            <span class="pending-value">{{ pfd.account.pending_details[rname]|e }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endmacro %}
                {% macro field_visibility(pfd, name) %}
                    <span class="field-visibility-item">
                        <img class="visibility-icon" src="/user/plugins/akso-bridge/assets/visibility-{{pfd.account.details[name]}}.svg">
                        {% if pfd.account.details[name] == 'public' %}
                            {{pfd.akso_locale.account.field_visibility_public}}
                        {% elseif pfd.account.details[name] == 'members' %}
                            {{pfd.akso_locale.account.field_visibility_members}}
                        {% else %}
                            {{pfd.akso_locale.account.field_visibility_private}}
                        {% endif %}
                    </span>
                {% endmacro %}
                {% set pfd = { account, akso_locale } %}
                {% if account.details.profilePictureHash %}
                    <div class="account-profile-picture">
                        <img
                            src="{{ account.details.profilePicturePath }}"
                            srcset="{{ account.details.profilePictureSizes }}" />
                    </div>
                {% endif %}
                <h2 class="account-formatted-name">{{ account.details.fmtName|e }}</h2>
                {{ _self.pending_field(pfd, 'fmtName') }}
                {% if account.details.fmtLegalName %}
                    <div class="account-legal-name">
                        {{ akso_locale.account.legal_name }}:
                        <b>{{ account.details.fmtLegalName|e }}</b>
                    </div>
                {% endif %}
                {{ _self.pending_field(pfd, 'fmtLegalName') }}
                {% if account.details.fmtLocalName %}
                    <div class="account-local-name">
                        {{ akso_locale.account.local_name }}:
                        <b>{{ account.details.fmtLocalName|e }}</b>
                    </div>
                {% endif %}
                {{ _self.pending_field(pfd, 'fmtLocalName') }}
                {% if account.details.profilePictureHash %}
                    <a class="link-button account-picture-button" href="{{ account.edit_picture_link }}">
                        {{ akso_locale.account.edit_pfp }}
                    </a>
                {% else %}
                    <a class="account-picture-link" href="{{ account.edit_picture_link }}">
                        {{ akso_locale.account.add_pfp }}
                    </a>
                {% endif %}
                <div class="table-clear" />
                {% if account.details.profilePictureHash %}
                    <div class="field-visibility">
                    {{akso_locale.account.profile_picture_visibility}}:
                        {{ _self.field_visibility(pfd, 'profilePicturePublicity') }}
                    </div>
                {% endif %}
                {% if account.details.codeholderType == 'human' %}
                <div class="field-visibility">
                    {{akso_locale.account.last_name_visibility}}:
                    {{ _self.field_visibility(pfd, 'lastNamePublicity') }}
                </div>
                {% endif %}
                <table class="details-table">
                    <tbody>
                        <tr>
                            <th class="field-label">{{ akso_locale.account.newCode }}</th>
                            <td>
                                {{ account.details.newCode|e }}
                                {# only show oldCode if newCode is not the oldCode (i.e. it has a dash) #}
                                {% if account.details.oldCode and not '-' in account.details.newCode %}
                                    <span class="old-code-field">
                                        {{ akso_locale.account.oldCode }}: {{ account.details.oldCode|e }}
                                    </span>
                                {% endif %}
                                {{ _self.pending_field(pfd, 'newCode') }}
                            </td>
                        </tr>
                        {% if account.details.codeholderType == 'org' %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.care_of }}</th>
                            <td>{{ account.details.careOf|e }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.email }}</th>
                            <td>
                                {{ account.details.email|e }}
                                {{ _self.pending_field(pfd, 'email') }}
                                {% if account.details.publicEmail %}
                                    <div class="field-public-email">
                                        {{akso_locale.account.publicEmail}}:
                                        {{account.details.publicEmail}}
                                    </div>
                                {% else %}
                                    <div class="field-visibility">
                                        {{ _self.field_visibility(pfd, 'emailPublicity') }}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% if account.details.codeholderType == 'human' %}
                            <tr>
                                <th class="field-label">{{ akso_locale.account.birthdate }}</th>
                                <td>
                                    {{ account.details.fmtBirthdate|e }}
                                    {{ _self.pending_field(pfd, 'fmtBirthdate') }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.phoneNumbers }}</th>
                            <td>
                                {% if account.details.phoneNumbersFormatted is empty %}
                                —
                                {% else %}
                                <ul class="phone-numbers-list">
                                    {% for entry in account.details.phoneNumbersFormatted %}
                                    <li>
                                        <span class="number-label">{{entry[1]}}</span>
                                        <span class="number-value">{{entry[2]}}</span>
                                        <span class="number-visibility">
                                            {{ _self.field_visibility(pfd, entry[0] ~ 'Publicity') }}
                                        </span>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {{ _self.pending_field(pfd, 'phoneNumbersConcatenated', 'phoneNumbersConcatenated', true) }}
                            </td>
                        </tr>
                        <tr>
                            <th class="field-label">{{ akso_locale.account.address }}</th>
                            <td>
                                {{ account.details.fmtAddress|raw }}
                                <div class="field-visibility">
                                    {{ _self.field_visibility(pfd, 'addressPublicity') }}
                                </div>
                                {{ _self.pending_field(pfd, 'fmtAddress', nil, true) }}
                            </td>
                        </tr>
                        {% if account.details.addressInvalid %}
                            <tr>
                                <th class="field-label">{{ akso_locale.account.addressInvalid }}</th>
                                <td>
                                    <div class="infobox is-warning">
                                        {{ akso_locale.account.addressInvalidDesc }}
                                    </div>
                                    {{ _self.pending_field(pfd, 'addressInvalid', 'addressInvalidChgReq') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if account.details.publicCountry %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.publicCountry }}</th>
                            <td>
                                {{ account.details.fmtPublicCountry }}
                                {{ _self.pending_field(pfd, 'publicCountry', 'fmtPublicCountry') }}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.feeCountry }}</th>
                            <td>
                                {{ account.details.fmtFeeCountry|e }}
                                {{ _self.pending_field(pfd, 'feeCountry', 'fmtFeeCountry') }}
                            </td>
                        </tr>
                        {% if account.details.codeholderType == 'human' %}
                            <tr>
                                <th class="field-label">{{ akso_locale.account.profession }}</th>
                                <td>
                                    {{ account.details.profession ? account.details.profession|e : '—' }}
                                    {{ _self.pending_field(pfd, 'profession') }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.website }}</th>
                            <td>
                                {{ account.details.website ? account.details.website|e : '—' }}
                                {{ _self.pending_field(pfd, 'website') }}
                            </td>
                        </tr>
                        <tr>
                            <th class="field-label">{{ akso_locale.account.biography }}</th>
                            <td class="biography-field">{{ account.details.biography ? account.details.biography|e : '—' }}<div
                                class="biography-pending">
                                {{ _self.pending_field(pfd, 'biography') }}
                            </div></td>
                        </tr>
                    </tbody>
                </table>
                <a class="link-button" href="{{ account.edit_link }}">
                    {{ akso_locale.account.begin_edit }}
                </a>
            </div>
            <div class="account-management">
                <a class="link-button" href="{{ account.reset_password.link }}">
                    {{ akso_locale.account.reset_password }}
                </a>
                <a class="link-button" href="{{ account.logins_link }}">
                    {{ akso_locale.account.logins_title }}
                </a>
                <a class="link-button" href="{{ account.notifs_link }}">
                    {{ akso_locale.account_notifs.title }}
                </a>
            </div>
            {% if account.details.codeholderType == 'human' %}
                <div class="account-memberships">
                    <h2 class="memberships-title">{{ akso_locale.account.memberships_title }}</h2>
                    <div class="sign-up-container">
                        <a class="link-button" href="{{ account.registration_link }}">
                            {{ akso_locale.account.memberships_register }}
                        </a>
                    </div>
                    <div class="memberships-title-clear"></div>
                    {% if account.membership.categories is empty %}
                        <div class="memberships-none">
                            {{ akso_locale.account.memberships_none }}
                        </div>
                    {% else %}
                        <ul class="memberships-list">
                            {% for category in account.membership.categories %}
                            <li class="membership-category">
                                {% if category.canBeRenewed %}
                                    <button class="category-renew-button">
                                        {{ akso_locale.account.membership_category_renew }}
                                    </button>
                                {% endif %}
                                <div class="category-name">{{ category.name|e }}</div>
                                <ul class="membership-years">
                                    {% for year in category.years %}
                                        <li class="membership-year {{ category.lifetime ? 'is-lifetime' : '' }}">
                                            {% if category.lifetime %}
                                                {{ akso_locale.account.membership_lifetime_prefix }}
                                            {% endif %}
                                            {{ year|e }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                        {% if account.membership.historyHasMore %}
                        <div class="memberships-has-more">
                            {{ akso_locale.account.memberships_has_more_items }}
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if account.congress_participations is not empty %}
                    <div class="account-congress-participations">
                        <h2 class="inner-title">{{ akso_locale.account.congress_participations_title }}</h2>
                        <ul class="participations-list">
                            {% for part in account.congress_participations %}
                                {% if part.participant.cancelledTime is empty or not part.instance.isOver %}
                                    <li class="participation-item">
                                        <div class="congress-name">
                                            <span class="congress-org">{{ part.congress.org }}</span>
                                            {{ part.instance.name }}
                                        </div>
                                        <div class="congress-date">
                                            {{ part.instance.dateFrom|akso_date }}–{{ part.instance.dateTo|akso_date }}
                                        </div>
                                        {% if not part.instance.isOver %}
                                            <div class="item-status">
                                                {% if part.participant.isValid %}
                                                    {{ akso_locale.account.congress_participation_valid }}
                                                {% elseif part.cancelledTime is not empty %}
                                                    {{ akso_locale.account.congress_participation_canceled }}
                                                {% else %}
                                                    {{ akso_locale.account.congress_participation_pending }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {% if part.congressPagePath %}
                                            <a class="link-button" href="{{ part.congressPagePath }}">
                                                {{ akso_locale.account.congress_participation_link_congress }}
                                            </a>
                                            {% if not part.instance.isOver %}
                                                <a class="link-button" href="{{ part.congressRegPath }}">
                                                    {{ akso_locale.account.congress_participation_link_registration }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
